<script>
    $(document).ready(function () {
        wyswietlListeZadanWTreningu();
    });
    let treningUczestnikGryId = null;
    function pokazPopapZawodnikaTrening(kliknietyPrzycisk) {
        let gracz = $(kliknietyPrzycisk).closest(".wierszUczestnika").find("select option:selected").text();
        treningUczestnikGryId = $(kliknietyPrzycisk).closest(".wierszUczestnika").find(".uczestnikGryId").val();
        $("#daneGraczaTrening").text(gracz);

        $.ajax({
            type: "GET",
            url: "/Api/ApiOcenaGracza/Pobierz",
            data: { uczestnikId: treningUczestnikGryId },
            contentType: "application/json",
            success: function (result) {
                if (result != null) {
                    $("#popapOcenaZawodnikaTrening select").each(function (index) {
                        $(this).val("0");
                        for (let i = 0; i < result.length; i++) {
                            if (result[i].NumerZadania == index + 1) {
                                $(this).val(result[i].Ocena);
                            }
                        }
                    });
                    $("#popapOcenaZawodnikaTrening").modal();
                } else {
                    swal({
                        title: 'Wystąpił błąd',
                        type: 'error',
                    });
                }
            }
        });
    }

    //to odpowiada za zapis do bazy

    function zapiszOcenaGraczaTrening() {
        let daneDoWyslania = [];
        $("#popapOcenaZawodnikaTrening select").each(function (index) {
            let pojedynczyElement = {
                NumerZadania: index + 1,
                Ocena: $(this).val(),
                UczestnikGryId: treningUczestnikGryId
            };
            daneDoWyslania.push(pojedynczyElement);
        });

        $.ajax({
            type: "POST",
            url: "/Api/ApiOcenaGracza/Zapisz",
            data: JSON.stringify(daneDoWyslania),
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    $("#popapOcenaZawodnikaTrening").modal("hide");
                    swal({
                        title: 'Zapisano poprawnie',
                        type: 'success',
                    });
                } else {
                    swal({
                        title: 'Wystąpił błąd',
                        type: 'error',
                    });
                }
            }
        });
    }

    function dodajZadanieDoTreningu() {
        let nrZadania = $("#ListaZadanWTreningu").find(".pojedynczeZadanieWTreningu").length + 1;
        let skopiowanyWiersz = $($("#TemplateOcenaZawodnikaTrening").html());
        skopiowanyWiersz.find(".labelNrZadaniaWTreningu").text(nrZadania);
        skopiowanyWiersz.appendTo($("#ListaZadanWTreningu"));
    }

    function wyswietlListeZadanWTreningu() {
        //let pojedynczeZadanie = $(".pojedynczeZadanieWTreningu");
        let iloscZadanWGrze = parseInt($("#IloscZadanWTreningu").val());
        for (let i = 0; i < iloscZadanWGrze; i++) {
            dodajZadanieDoTreningu();
        }
    }

</script>

<!-- Modal -->
<div id="popapOcenaZawodnikaTrening" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ocena zawodnika : <span id="daneGraczaTrening"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="ListaZadanWTreningu">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Zadanie 1</label>
                                <div class=" input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                    <select class="form-control ocena" name="Ocena">
                                        <option value="0">Punkty: 0</option>
                                        <option value="1">Punkty: 1</option>
                                        <option value="2">Punkty: 2</option>
                                        <option value="3">Punkty: 3</option>
                                        <option value="4">Punkty: 4</option>
                                        <option value="5">Punkty: 5</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label>Zadanie 2</label>
                                <div class=" input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                    <select class="form-control ocena" name="Ocena">
                                        <option value="0">Punkty: 0</option>
                                        <option value="1">Punkty: 1</option>
                                        <option value="2">Punkty: 2</option>
                                        <option value="3">Punkty: 3</option>
                                        <option value="4">Punkty: 4</option>
                                        <option value="5">Punkty: 5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Zadanie 3</label>
                                <div class=" input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                    <select class="form-control ocena" name="Ocena">
                                        <option value="0">Punkty: 0</option>
                                        <option value="1">Punkty: 1</option>
                                        <option value="2">Punkty: 2</option>
                                        <option value="3">Punkty: 3</option>
                                        <option value="4">Punkty: 4</option>
                                        <option value="5">Punkty: 5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Zadanie 4</label>
                                <div class=" input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                    <select class="form-control ocena" name="Ocena">
                                        <option value="0">Punkty: 0</option>
                                        <option value="1">Punkty: 1</option>
                                        <option value="2">Punkty: 2</option>
                                        <option value="3">Punkty: 3</option>
                                        <option value="4">Punkty: 4</option>
                                        <option value="5">Punkty: 5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Zadanie 5</label>
                                <div class=" input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                    <select class="form-control ocena" name="Ocena">
                                        <option value="0">Punkty: 0</option>
                                        <option value="1">Punkty: 1</option>
                                        <option value="2">Punkty: 2</option>
                                        <option value="3">Punkty: 3</option>
                                        <option value="4">Punkty: 4</option>
                                        <option value="5">Punkty: 5</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-default" onclick="dodajZadanieDoTreningu();">Dodaj zadanie</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default" onclick="zapiszOcenaGraczaTrening();">Zapisz</button>
                    <button class="btn btn-default" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="TemplateOcenaZawodnikaTrening">
    <div class="col-sm-6 pojedynczeZadanieWTreningu">
        <div class="form-group">
            <label>Zadanie&nbsp;</label><label class="labelNrZadaniaWTreningu"></label>
            <div class=" input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                <select class="form-control ocena" name="Ocena">
                    <option value="0">Punkty: 0</option>
                    <option value="1">Punkty: 1</option>
                    <option value="2">Punkty: 2</option>
                    <option value="3">Punkty: 3</option>
                    <option value="4">Punkty: 4</option>
                    <option value="5">Punkty: 5</option>
                </select>
            </div>
        </div>
    </div>
</template>