<script>
    function pokazPopapZawodnikaTrening(kliknietyPrzycisk) {
        let gracz = $(kliknietyPrzycisk).closest(".wierszUczestnika").find("select option:selected").text();
        $("#daneGraczaTrening").text(gracz);
        $("#popapOcenaZawodnikaTrening").modal();
    }
</script>

<!-- Modal -->
<div id="popapOcenaZawodnikaTrening" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ocena zawodnika : <span id="daneGraczaTrening"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zadanie 1</label>
                            <div class=" input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                <select class="form-control ocena" name="Ocena">
                                    <option value="0">Punkty: 0</option>
                                    <option value="1">Punkty: 1</option>
                                    <option value="2">Punkty: 2</option>
                                    <option value="3">Punkty: 3</option>
                                    <option value="4">Punkty: 4</option>
                                    <option value="5">Punkty: 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zadanie 2</label>
                            <div class=" input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                <select class="form-control ocena" name="Ocena">
                                    <option value="0">Punkty: 0</option>
                                    <option value="1">Punkty: 1</option>
                                    <option value="2">Punkty: 2</option>
                                    <option value="3">Punkty: 3</option>
                                    <option value="4">Punkty: 4</option>
                                    <option value="5">Punkty: 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zadanie 3</label>
                            <div class=" input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                <select class="form-control ocena" name="Ocena">
                                    <option value="0">Punkty: 0</option>
                                    <option value="1">Punkty: 1</option>
                                    <option value="2">Punkty: 2</option>
                                    <option value="3">Punkty: 3</option>
                                    <option value="4">Punkty: 4</option>
                                    <option value="5">Punkty: 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zadanie 4</label>
                            <div class=" input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                <select class="form-control ocena" name="Ocena">
                                    <option value="0">Punkty: 0</option>
                                    <option value="1">Punkty: 1</option>
                                    <option value="2">Punkty: 2</option>
                                    <option value="3">Punkty: 3</option>
                                    <option value="4">Punkty: 4</option>
                                    <option value="5">Punkty: 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zadanie 5</label>
                            <div class=" input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                                <select class="form-control ocena" name="Ocena">
                                    <option value="0">Punkty: 0</option>
                                    <option value="1">Punkty: 1</option>
                                    <option value="2">Punkty: 2</option>
                                    <option value="3">Punkty: 3</option>
                                    <option value="4">Punkty: 4</option>
                                    <option value="5">Punkty: 5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default">Zapisz</button>
                <button class="btn btn-default">Anuluj</button>
            </div>
        </div>

    </div>
</div>
