<div class="jumbotron">
    <h1 class="text-center">Praca magisterska</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Aplikacja wspomagająca pracę trenera Petanque</h2>
        <p>
            Aplikacja ma na celu pomóc tremerowi Petanque podczas rozgrywek oraz treningów.
            Trener ma możliwosc zastąpienia stosu notesów w ktorych zapisuje wszystkie informacje o rozgrywkach i zawodnikach tą o to aplikacją mobilną.
            Użytkownik aplikacji ma możliwośc np: oceniania zawodników , może ocenić poziom trudności rozgrywki , dodawania nowych zawodników. Do wyboru są dwie opcje rozgrywki: trening oraz Mecz.
            W trakcie rozgrywek w bardzo prosty sposób można używać aplikacji np na tablecie. Zeszyty to juz przeszłość!
        </p>
    </div>
</div>
